@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    --dark-white: #c1c1c1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon *:hover {
    transition: all 0.1s ease;
}